<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spraut.sprautnote">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SprAutNote"
        >

        <receiver
            android:name=".widget.WidgetSingleObject22"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_single_object22_info" />
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddEdit.AddActivity" />
        <activity android:name=".AddEdit.EditActivity"
            >

        </activity>
        <activity android:name=".AddEdit.BatchAddActivity" />
        <activity android:name=".Image.ImageActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name="com.lling.photopicker.PhotoPickerActivity" />
        <activity android:name=".AboutActivity" />
    </application>

</manifest>